@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: "Poppins", Arial;
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url("../img/Home_background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size:cover;
  background-attachment: fixed;
}

/* start of profile section */

.profile-section {
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 3rem;
  background-color: #7aa5b286;
  color: #fff;
  border-radius: 8px;
}

.profile-section ::placeholder {
  font-size: 0.8rem;
}

.profile-section h2 {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  }

.profile-section p {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.profile-subsection {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.spinnerProfile {
  text-align: center;
}

.edit-btn-section {
  display: flex;
  justify-content: space-between;
}

.package-radio-btn {
  padding-left: 5rem;
}

.medical-condition {
  margin: 1rem 0 1rem 0;
}

.doctor-prescription {
  margin-bottom: 1rem;
}

.admin-staff-edit-btn {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

.accordion {
  --bs-accordion-btn-bg:#fff;
  --bs-accordion-active-bg:#9ac7c8;
  --bs-accordion-active-color:#000;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: #f2fddd;
  --bs-accordion-color: #000;
  
}

.accordion-button::after {
  box-shadow: none;
}

.patient-summary-section {
  display: block;
  
}

.patient-summary-header-section, .patient-summary-detail-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1rem;
  font-weight: 600;
  background-color: #fff; 
  padding-left: 1rem;
  padding-right: 1rem;
}

.patient-summary-header-section {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #a0a0a0;
}

.patient-summary-detail-section {
  border-bottom: 1px solid #000;
  color: #000;
}
.patient-summary-bottom-section {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* end of profile section */