@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: "Poppins", Arial;
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url("../img/Home_background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
    background-attachment: fixed;
}

/* start of register section */

.register-section {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 3rem;
    background-color: #7aa5b286;
    color: #fff;
    border-radius: 8px;
}

.register-section ::placeholder {
  font-size: 0.8rem;
}

.register-section h2 {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .register-section p {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  
  .register-subsection {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  
  .register-btn {
    display: flex;
    justify-content: end;
    padding-top: 1rem;
  }
  
  /* end of register section */